<?xml version="1.0" encoding="UTF-8"?>
<launch>
        <arg name="mav_name" default="magnus"/>
        <group ns="$(arg mav_name)">
                <node pkg="helipad_det" type="hdetect" name="hdetect" output="screen" required="true">
                        <rosparam file="$(find helipad_det)/cfg/params.yaml"/>
                        <!-- Subscribed Topics -->
                        <remap from="odom" to="pilot/local_position/odom"/>
                        <remap from="rectified_image" to="/mv/image_raw"/>

                        <!-- Published Topics -->
                        <remap from="detected_helipad" to="detected_helipad"/>
                        <remap from="preprocessed_image" to="preprocessed_image"/>
                        <remap from="helipad_position" to="helipad_position"/>
                </node>
        </group>
</launch>
